@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utilities/markup.css";


* {
    position: relative;
}

html {
    /* See https://www.sarasoueidan.com/blog/safari-fluid-typography-bug-fix/ */
    -webkit-marquee-increment: 1vw;
    font-size: 18px;
    font-size: clamp(14px, 1.5vw, 21px);
}

.pricecard-purple {
    @apply bg-purple;
    @apply text-white;

}

.pricecard-purple button {
    @apply text-purple;
    @apply bg-white;
    
}

button{
    @apply cursor-pointer;
}

.pricecard-white {
    @apply text-black;
    @apply bg-white;
    @apply border border-purple;
}

.pricecard-white button {
    @apply bg-purple;
    @apply text-white;
    
}


