/* Margins */

.markup h1 {
    @apply mb-12;
}

.markup h2 {
    @apply mt-16;
    @apply mb-6;
}

.markup h2:first-child {
    @apply mt-0;
}

.markup h3 {
    @apply mt-16;
    @apply mb-6;
}

.markup h3:first-child {
    @apply mt-0;
}

.markup p {
    @apply leading-relaxed;
}

.markup p,
.markup ol,
.markup ul {
    @apply mb-6;
}

.markup p + ul {
    @apply -mt-6;
}

.markup li ul {
    @apply mb-0;
}

.markup blockquote {
    @apply mx-0;
    @apply my-6;
    @apply px-12;
    @apply py-4;
    @apply border-l-4;
    @apply leading-loose;
    @apply text-black;
    @apply text-opacity-75;
}

.markup blockquote p {
    @apply leading-loose;
    @apply my-4;
}

/* Header styles */

.markup h1,
.markup-h1 {
    @apply font-black;
    @apply text-6xl;
    @apply uppercase;
    @apply tracking-wider;
}

.markup h2,
.markup-h2 {
    @apply font-black;
    @apply text-2xl;
    @apply md:text-4xl;
    @apply uppercase;
    @apply tracking-wider;
    @apply leading-normal;
}

.markup h3,
.markup-h3 {
    @apply text-xl;
    @apply font-black;
    @apply md:text-2xl;
    @apply font-bold;
    @apply tracking-wider;
    @apply leading-tight;
}

.markup h4,
.markup-h4 {
    @apply text-2xl;
    @apply font-bold;
}

.markup strong {
    @apply font-semibold;
}

.markup hr,
.markup-hr {
    @apply my-16;
    @apply h-12;
    background-image: url('/images/hr.svg');
    background-size: auto 1rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.markup body-lg,
.markup-body-lg {
    @apply text-xl;
}

.markup-subtitle{
    @apply text-base;
    @apply text-blue-500;
}

.markup body-xl,
.markup-body-xl {
    @apply text-2xl;
}

/* List styles */

.markup-lists ul > li,
.markup-ul > li,
.markup-ul-alt > li {
    padding-left: 1.15em;
}

.markup-lists ul > li:before,
.markup-ul > li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    @apply absolute;
    @apply left-0.5;
    @apply top-1.5;
    @apply text-blue-500;
    @apply text-sm;
}

.markup-ol-reset {
    counter-reset: customOl;
}

.markup-lists ol > li,
.markup-ol > li {
    counter-increment: customOl;
    @apply pl-8;
}

.markup-lists ol > li:before,
.markup-ol > li:before {
    @apply absolute;
    @apply left-0;
    content: counter(customOl, decimal-leading-zero) '.';
    @apply font-semibold;
    @apply text-red-900;
}

.markup-lists-spaced ol,
.markup-lists-spaced ul {
    @apply grid;
    @apply gap-1;
}

/* Link styles */

.markup-links a,
.markup-link {
    @apply underline
}

.markup-links-hover a,
.markup-link-hover {
    @apply underline;
}

.markup-links-hover a:hover,
.markup-link-hover:hover,
.markup-links .group:hover a,
.group:hover .markup-link,
.group:hover .markup-link-hover,
.markup-links a:hover,
.markup-link:hover {
    @apply underline;
    @apply opacity-90;
}

.markup-links .markup-anchor {
    background-image: none;
    @apply text-red-500;
    @apply opacity-0;
    @apply absolute;
    @apply right-full;
    @apply mr-1;
    @apply text-base;
}

.markup-links [id]:hover > h2 > .markup-anchor,
.markup-links h2[id]:hover > .markup-anchor,
.markup-links [id]:hover > h3 > .markup-anchor {
    @apply opacity-50;
}


/* Code styles */

.markup-code code {
    @apply font-mono;
    @apply bg-black/5;

}

.markup-code pre code,
.markup-pre code {
    background: transparent;
}

.markup-code pre,
.markup-pre {
    @apply font-mono;
    @apply px-6;
    @apply py-2;
    @apply overflow-x-auto;
    @apply bg-black !important;
    @apply text-red-500;
    font-size: 0.8em;
    line-height: 1.9;
}

.markup-code pre::-webkit-scrollbar,
.markup-pre::-webkit-scrollbar { height: 1px;width: 1px; }

.markup-code pre::-webkit-scrollbar-track,
.markup-pre::-webkit-scrollbar-track {
    background: transparent;
}

.markup-code pre::-webkit-scrollbar-thumb,
.markup-pre::-webkit-scrollbar-thumb {
    background-image: none;
    @apply bg-gray-400;
    @apply bg-opacity-25;
}

.markup-code :not(pre) > code {
    font-size: 0.95em;
    @apply p-1;
}

.markup-code .hljs {
    overflow-x: initial;
}

/* Table styles */

.markup-table table {
    @apply border-collapse;
    @apply border-t;
    @apply border-b;
    @apply w-full;
    @apply text-sm;
    @apply my-6;
}

.markup-table table thead tr {
    @apply border-b;
    font-size: 0.875em;
}

.markup-table table th,
.markup-table table td {
    @apply py-2;
    @apply px-1;
}

@screen sm {
    .markup-table table th,
    .markup-table table td {
        @apply px-2;
    }
}

.markup-table table th {
    @apply text-left;
    @apply font-normal;
    @apply tracking-wider;
    @apply uppercase;
    @apply text-xs;
}

.markup-table table tbody tr {
    @apply border-t;
}

.markup-table table thead .th-numeric,
.markup-table table tbody .td-numeric {
    @apply text-right;
    font-variant-numeric: tabular-nums;
}

.button-container {
    @apply inline-block;
    @apply h-12;
    @apply border-blue-500 border;
    @apply text-lg;
    @apply duration-500;
    @apply rounded-sm;
    overflow: hidden;
  }
  .button-container button {
    width: 103%;
    height: 103%;
    @apply bg-blue-500;
    @apply rounded-sm;
    position: relative;
    top: 50%;
    left: 50%;
    @apply transform;
    @apply -translate-x-1/2;
    @apply -translate-y-1/2;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    @apply text-white;
    @apply px-4; 
    @apply text-center;
    @apply cursor-pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
  }
  .button-container button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
  }
  .button-container button:focus {
    outline: 2px solid #004cff;
    
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;

    
  }
  
  .mas {
    @apply absolute;
    @apply text-blue-500;
    @apply text-center;
    @apply overflow-hidden;
    @apply border-blue-500;
    @apply py-2;
    height: 100%;

    @apply rounded-sm;
    width: 100%;
  }
  .button-container.logo, .button-container.logo .mas  {
    @apply rounded-sm;
    @apply h-11
  }

  .button-container.logo-footer{
    @apply h-8;
  }

  .button-container.logo-footer, .button-container.logo-footer .mas  {
    @apply text-sm;
    @apply rounded-sm;
    line-height: 1rem;
  }
  .button-container.logo-footer button  {
    @apply px-2;
    @apply text-sm;
  }

  
  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }